$popcorn: 500;

@for $i from 0 through $popcorn {
  $x: (random(100) - 50);
  @keyframes arc-#{$i} {
    25% {
        transform: translateY(-100vh * 0.1) translateX(#{$x}px) translateZ(0);
    }
    50% {
        transform: translateY(-100vh * 0.2) translateX(0) translateZ(0);
    }
    75% {
        transform: translateY(-100vh * 0.3) translateX(#{$x}px) translateZ(0);
    }
    100% {
        transform: translateY(-100vh * 0.4) translateX(0) translateZ(0);
    }
  }

  $bubbleSize: 7px;
  .hearth-#{$i} {
    position: absolute;
    bottom: 0;
    left: (random(100) + 0%);
    animation: arc-#{$i} 1s linear infinite;
    width:$bubbleSize;height:$bubbleSize;
    visibility: hidden;
  }
}

.volcanoContainer {
    height: 40%;
    position: relative;
}
