@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.contact {
    position: relative;
    width: 100vw;
    height: 100vh;
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
        .information {
            display: flex;
            justify-content: flex-start;
        }
        .right {
            display: flex;
            width: 40%;
            height: 100%;
            justify-content: center;
            flex-direction: column;
            .slider {
                display: flex;
                width: 80%;
                margin: 5px auto;
            }
        }
    }
}