@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.contact {
    position: relative;
    width: 100vw;
    height: 100vh;
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
        .information {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 50%;
            @media (max-width: 750px) {
                width: 90%
            }
            .title {
                font-family: Roboto Mono;
                font-style: normal;
                font-weight: normal;
                font-size: 45px;
                line-height: 66px;
                color: white;
                @media (max-width: 750px) {
                    font-size: 30px;
                }
            }
            ul {
                list-style: none;
                padding-inline-start: 20px;
                display: inline-block;
                vertical-align: baseline;
                li {
                    font-family: Roboto Mono;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 20px;
                    margin-bottom: 10px;
                    color: white;
                    @media (max-width: 750px) {
                        font-size: 13px;
                        line-height: 13px;
                    }
                }
            }
        }
        .right {
            @media (max-width: 750px) {
                display: none;
            }
            display: flex;
            width: 30%;
            height: 100%;
            justify-content: center;
            flex-direction: column;
            .slider {
                display: flex;
                width: 80%;
                margin: 5px auto;
            }
        }
    }
}